# number of cores utilized during the build
nprocs=2

# base   : the default system
# dev    : ports deps
# livecd : livecd deps
pkgset=(base)

# install ports? (true/false)
# if true add "dev" to pkgset
ports=false

# pretend to create a livecd? (true/false)
# if true add "livecd" to pkgset
livecd=false
