#!/bin/rc
#

# VARIABLES
HOSTARCH=x86_64
ARCH=x86_64
COMPILER=ellcc-bin
ROOTDIR=/mnt/glacies
ROOTDBDIR=$"ROOTDIR/var/pkg/local
CACHEDIR=''

# FLAGS:
# WITHCOMP - Install compiler
WITHCOMP=false

# URL
RPORTS=https://github.com/eltanin-os/ports
KHEADS=https://github.com/sabotage-linux/kernel-headers

# TOOLS:
FETCH=(curl -LO)
SU=doas
TAR=(pax -x ustar -w)
UNTAR=(pax -x ustar -r)

# UNCOMPRESS TOOLS
BZ2=(bzip2 -dc)
GZ=(pigz -dc)
LZ=(lzip -dc)
XZ=(xz -dc)
ZZ=(pigz -dc)
