#!/bin/rc -e
#

fn bsys_chk_bin {
	for (p in $path) {
		if ([ -f $"p/$"1 ]) return 0
	}
	return 1
}

fn bsys_chk_dep {
	for (dep in $*) {
		bsys_chk_bin $dep || bsys_io_err dependency $dep not found
	}
}
