#!/bin/rc -e
# Environment:
# * DIRPKGS
# *

DIRPKGS=$"TOOLDIR/tmp/packages
DIRDB=$"TOOLDIR/tmp/database
REPOSITORY=''

fn packages {
cat <<EOF
[deps]
ncurses
libedit
libnl-tiny
libressl
libz
[all]
bzip2
ca-certificates
cbase
curl
dash
iproute2
kmod
lux
m4
make
mandoc
perp
pigz
pkgconf
rc
sdhcp
sinit
ubase
utilchest
wpa_supplicant
EOF
}

fn bsys_mk_pkgs {
	CACHEOPTS=()
	if ([ -d $"CACHEDIR ]) CACHEOPTS=(-d $"CACHEDIR)
	PORTSYS_PKGDESTDIR=$DIRPKGS
	PORTSYS_DBDESTDIR=$DIRDB
	tmpfile=`{mktemp}
	packages >$tmpfile
	./mk/portsys.rc package $CACHEOPTS -L -f $tmpfile
	rm $tmpfile
}
