#!/bin/rc -e
# Environment:
# * DIRPKGS
# *

DIRPKGS=$"TOOLDIR/tmp/packages
DIRDB=$"TOOLDIR/tmp/database
REPOSITORY=''

fn packages {
cat <<EOF
[deps]
ncurses
libedit
libressl
libz
tertium
[all]
bzip2
ca-certificates
ccore
curl
dash
ecore
iproute2
kmod
mandoc
openssh
pdlzip
perp
pigz
rc
sdhcp
sinit
ubase
venus
EOF
}

# $1: path
fn bsys_mk_install {
	CACHEOPTS=()
	if ([ -d $"CACHEDIR ]) CACHEOPTS=(-d $"CACHEDIR)
	PORTSYS_SYSPATH=$1
	tmpfile=`{mktemp}
	packages >$tmpfile
	./mk/portsys.rc install $CACHEOPTS -f $tmpfile
	rm $tmpfile
}
