#!/bin/rc -e
# Environment:
# * DIRPKGS
# *

DIRPKGS=$"TOOLDIR/tmp/packages
DIRDB=$"TOOLDIR/tmp/database
REPOSITORY=''

# ports do not handle dependencies,
# keep the libraries first and then sort(1)
PACKAGES=`{cat <<EOF
ncurses
libedit
libnl-tiny
libressl
libz
bzip2
ca-certificates
cbase
curl
dash
iproute2
kmod
lilo
lux
m4
make
mandoc
perp
pigz
pkgconf
rc
sdhcp
sinit
ubase
utilchest
wpa_supplicant
EOF
}

fn bsys_mk_pkgs {
	CACHEOPTS=()
	if ([ -d $"CACHEDIR ]) CACHEOPTS=(-d $"CACHEDIR)
	PORTSYS_PKG_DESTDIR=$DIRPKGS\
	PORTSYS_DB_DESTDIR=$DIRDB\
	./mk/portsys.rc package $CACHEOPTS -l $PACKAGES
}
