#!/bin/rc -e
#

#
# Chk routines
#

# $*: binary
fn bsys_chk_bin {
	for (p in $path) if (test -f $"p/$"1) return 0
	bsys_io_err dependency $dep not found
}

# $*: binaries
fn bsys_chk_dep {
	for (dep in $*) bsys_chk_bin $dep
}

#
# Io routines
#

# $* : message
fn bsys_io_err {
	echo $0: '<error>' $* >[1=2]
	exit 1
}

# $* : message
fn bsys_io_msg {
	echo $0: '<message>' $*
}

# $* : message
fn bsys_io_wrn {
	echo $0: '<warn>' $* >[1=2]
}

#
# Mk Routines
#

# $1 : syspath
# $2 : extra path
fn bsys_mk_install {
	CACHEOPTS=()
	if (test -d $"CACHEDIR) CACHEOPTS=(-d $"CACHEDIR)
	pkg=`{cat $"TOOLDIR/sys/packages}
	./mk/portsys.rc install $CACHEOPTS -e $"2 -r $"1 $"pkg
}
