#!/bin/rc -e

#
# include
#

. ./mk/common.rc

#
# main
#

progname=`{basename $0}

mo='-b boot/limine-cd.bin -no-emul-boot -boot-load-size 4 -boot-info-table --protective-msdos-label -o output.iso'
GENISO=`{trydep 'mkisofs '$"mo 'xorriso -as mkisofs '$"mo}
SU=`{trydep 'doas' 'sudo' 'su -c'}

searchfail mksquashfs

tmpfile=`{mktemp}
cat <<EOF >$tmpfile
#!/bin/rc
path=/bin
init=/etc/rc.init

mount -nt devtmpfs devtmpfs /dev
mount -nt proc     proc     /proc
mount -nt sysfs    sysfs    /sys
mount -nt tmpfs    none     /run

aliases=`{find /sys -type f -name 'modalias' -exec cat '{}' + | sort -u}
modprobe -aq $$aliases usb-storage

d=`{lsblk -f | grep 'ISOIMAGE' | cut -f1 -d' '}
if (test -z $$"d) {
	echo '<warning> device not found' >[1=2]
	echo '<message> waiting for device...'
	@{ while (true) {
		sleep 1
		d=`{lsblk -f | grep 'ISOIMAGE' | cut -f1 -d' '}
		if (test -n $$"d) exit 0
	} }
}

d=`{lsblk -f | grep 'ISOIMAGE' | cut -f1 -d' '}
mkdir /run/device
mount -nt iso9660 -o ro /dev/$$"d /run/device
losetup /dev/loop0 /run/device/image.squashfs

mkdir /run/image
mount -nt squashfs -o ro /dev/loop0 /run/image

mkdir /.root /run/upper /run/work
mount -nt overlay -o 'lowerdir=/run/image,upperdir=/run/upper,workdir=/run/work' none /.root

umount /dev /proc /sys

exec switch_root /.root $$init $$*
EOF

$SU mv workdir/mnt/etc/init.in workdir/mnt/etc/init.in.backup
$SU mv $tmpfile workdir/mnt/etc/init.in

kversion=`{ls workdir/mnt/lib/modules}
$SU chroot workdir/mnt /bin/mkinitramfs $kversion
cp -R workdir/mnt/boot livecd
$SU rm -f workdir/mnt/var/pkg/remote/cache/*
$SU mksquashfs workdir/mnt livecd/image.squashfs -comp xz

$SU mv workdir/mnt/etc/init.in.backup workdir/mnt/etc/init.in

tmpfile=`{mktemp}
cat <<EOF >$tmpfile
:Eltanin Glacies
PROTOCOL=linux
KERNEL_PATH=boot:///boot/vmlinuz-$kversion
CMDLINE=quiet
MODULE_PATH=boot:///boot/initramfs-$kversion
EOF

mv $tmpfile livecd/boot/limine.cfg
BOOTDIR=$PWD/livecd/boot
@{ cd workdir/mnt/usr/share/limine
cp limine.sys limine-cd.bin limine-cd-efi.bin $BOOTDIR }
$SU $GENISO livecd
$SU workdir/mnt/bin/limine-deploy output.iso
