#!/bin/rc -e

VER=2017-08-23
URL=http://ellcc.org/releases/latest/ellcc-$"HOSTARCH-linux-$"VER.bz2

# $*: void
fn clr_cc_path @{
	cd ellcc
	p=`{pwd}
	printf $"p/bin/ecc
}

# $1: config file
fn clr_cc_cflags @{
	tmp=`{mktemp}
	sed 's/CFLAGS=-Os/CFLAGS=-Oz/g' $1 > $tmp
	mv $tmp $1
}

# $*: void
fn clr_cxx_path @{
	cd ellcc
	p=`{pwd}
	printf $"p/bin/ecc++
}

# $*: void
fn clr_mk_prepare {
	file=`{basename $"URL}
	if (test -n $CACHEDIR) file=$"CACHEDIR/$"file
	if (! test -f $"file) {
		$FETCH $"URL
		mv `{basename $"URL} $"file
	}
	bzcat $"file | tar -x
	@{ cd ellcc/libecc/lib/$"HOSTARCH-linux
	rm libcares* libcurl* libcurses* \
	libexpat* libform* libmbed*      \
	libmenu* libmeta* libncurses*    \
	libpanel* libssh* libterm*       \
	libz* }
}

# $*: void
fn clr_mk_build @{
	tmp=`{mktemp}
	printf '# version: a08910fc2cc739f631b75b2d09b8d72a0d64d285\n' > $tmp
	$SU mv $tmp $ROOTDBDIR/libc
}

# $*: void
fn clr_mk_install @{
	cd ellcc
	$SU mkdir -p $"ROOTDIR/opt/ellcc
	$SU cp -R bin lib libecc $"ROOTDIR/opt/ellcc
	$SU ln -s ../opt/ellcc/bin/ecc   $"ROOTDIR/bin/cc
	$SU ln -s ../opt/ellcc/bin/ecc++ $"ROOTDIR/bin/c++
}
