#!/bin/rc -e
#

fn clr_cc_path @{
	cd ellcc
	p=`{pwd}
	printf $"p/bin/ecc
}

fn clr_cxx_path @{
	cd ellcc
	p=`{pwd}
	printf $"p/bin/ecc++
}

fn clr_mk_prepare {
	bsys_chk_dep autoconf automake bash bison cmake flex git make svn
	svn co http://ellcc.org/svn/ellcc/trunk ellcc
	@{ cd ellcc
	for (patch in $"TOOLDIR/scripts/patches/ellcc/*) {
		patch -p0 < $patch
	} }
}

fn clr_mk_build {
	@{ cd ellcc
	./ellcc build }
	tmp=`{mktemp}
	printf '# version: a08910fc2cc739f631b75b2d09b8d72a0d64d285\n' > $tmp
	$SU mv $tmp $ROOTDBDIR/libc
}

fn clr_mk_install @{
	cd ellcc
	$SU mkdir -p $"ROOTDIR/opt/ellcc
	$SU cp -R bin lib libecc $"ROOTDIR/opt/ellcc
	$SU ln -s ../opt/ellcc/bin/ecc   $"ROOTDIR/bin/cc
	$SU ln -s ../opt/ellcc/bin/ecc++ $"ROOTDIR/bin/c++
}
